Banks/
working/
projects/
Daysim/last-run.log
*.pyc
*.tsv
*.tex
*.alo
*.Rhistory
*.xlsx
/inputs
/daysim
/outputs
/.vs
/bkrcast_log.txt
/skims_log.txt
/UpgradeLog.htm
/scripts/summarize/standard/export_files_for_validation.py
/daysim_summaries/.Rproj.user
*.mtbx
*.mtbx-wal
*.mtbx-shm
/scripts/trucks/truck_model_old.py
/scripts/trucks/truck_configuration_old.py
/scripts/supplemental/mode_choice_supplemental.py
/2019_bike_volums_comparison.xlsx
/Auto_traffic_validation_bkr0v1-02.xlsx
/inputs/skim_params/user_classes.json
/inputs/skim_params/demand_matrix_dictionary.json
/inputs/model/bkr_roster.csv
/inputs/model/bkr-roster.combinations.csv
